@model MVCValidation.Models.Customer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterCustomer</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Submit", "Customer", FormMethod.Post))
        {
            @Html.Label("Customer Code:")
            @Html.TextBoxFor(x => x.CustomerCode)
            @*<input type="text" name="CustomerCode" value="@Model.CustomerCode" />*@
            @Html.ValidationMessageFor(x => x.CustomerCode)<br />
            @Html.Label("Customer Name:")
            @Html.TextBoxFor(x => x.CustomerName)
            @*<input type="text" name="CustomerName" value="@Model.CustomerName" />*@
            @Html.ValidationMessageFor(x => x.CustomerName)<br />
                <input type="submit" id="btnSubmit" value="submit" />
        }
        @Html.ValidationSummary();
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
