@model ViewModel.CustomerVM
@using Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterCustomer</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Submit", "Customer", FormMethod.Post))
        {
            @Html.Label("Customer Code:")
            @Html.TextBoxFor(x => x.customer.CustomerCode)
            @Html.ValidationMessageFor(x => x.customer.CustomerCode)<br />
            @Html.Label("Customer Name:")
            @Html.TextBoxFor(x => x.customer.CustomerName)
            @Html.ValidationMessageFor(x => x.customer.CustomerName)<br />
            <input type="submit" id="btnSubmit" value="submit" />
        }
        @Html.ValidationSummary()

        @*This is a table which is load from server side*@
        @*@Html.Partial("cltCustomerTable", Model)*@ 

        <div id="status"></div>
        @*This is a table which is load from client side*@
        <table id="tblCustomer" border="1">
            <tr>
                <th>Customer Code</th>
                <th>Customer Name</th>
            </tr>
        </table>
        

    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script language="javascript">
        $("#status").text("Loading...");
        $.get("GetCustomer", null, BindData);
        function BindData(Customers) {
            var tblCust = $("#tblCustomer");
            for (var i = 0; i < Customers.length; i++) {
                var newRow = "<tr>" +
                    "<td>" + Customers[i].CustomerCode + "</td>" +
                    "<td>" + Customers[i].CustomerName + "</td>" +
                    "</tr>";
                tblCust.append(newRow);
            }
            $("#status").text("");
        }
        
    </script>

</body>
</html>
